# Environment
med_env
.med_env
.med_env.local
.env
.env.local
# Data (exclude from Git)
/data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# DBT
/target/
/dbt_packages/

# logs
logs